<!DOCTYPE html>
<html>
<head>
	<title>Pokes Pages</title>
	<style type="text/css">table, th, td {
		border: 1px solid black;
		}
	</style>
</head>
<body>
	<div>
	<h1 style="display:inline-block;">Welcome {{alias}}!</h1>
	<a href="{% url 'logout' %}" style="margin-left:400px;">Logout</a>
	<h2>{{pokes|length}} People Poked You!</h2>
	</div>
	<div style="border: 3px solid black; width: 350px;">
		{% for alias, count in pokes %}
		<h3>{{alias}} poked you {{count}} times.</h3>
		{% endfor %}
	</div>
	<div>
		<h2>People you may want to Poke:</h2>
		<table>
		<tr>
			<th>Name</th>
			<th>Alias</th>
			<th>Email Address</th>
			<th>Poke History</th>
			<th>Action</th>
		</tr>
		{% for user, count in users %}
		<tr>
			<td>{{user.name}}</td>
			<td>{{user.alias}}</td>
			<td>{{user.email}}</td>
			<td>{{count}} Pokes</td>
			<td>
				<form action="/poke" method="post">
					{% csrf_token %}
					<input type="hidden" name="uid" value="{{user.id}}">
					<input type="submit" value="Poke">
				</form>
			</td>
		</tr>
		{% endfor %}
	</div>
</body>
</html>